body {
    background: black;
    text-align: center;
    font-family: Verdana;
    color: gray;
    font-size: 15;
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    font-weight: 300;
    font-size: 25px;
    color: white;
}

a:link {
    font-size: 16px;
    color: aquamarine;
}

footer {
    color: white;
    font-family: Verdana;
}

h4 {
    font-size: 12px;
    text-align: right;
}